/* .divPrintInfo{
    position:absolute;
    width: 70vw;
    height: 70vh;
    border: 2px solid red;
    background-color: black;
} */
/* .divInfoCoche{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:25px;
    border: 2px solid crimson;
    background-color: rgb(174, 174, 174);
} */
/* .divCocheId{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding: 15px;
} */
/* .divCocheId img{
    width: 600px;
    height: 400px;
} */

.divPopUp{
    display:none;
}
.activarFormComment{
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 35vh;
    background-color: red;
}

.imgPrintCoche{
    height: 400px;
    width: 600px;
    object-fit: contain;
}
.divComentarios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}