.PrintCoche{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.InfoPrintCoche{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.divPopUp{
    display:none;
}
.activarFormComment{
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 35vh;
    background-color: red;
}

.imgPrintCoche{
    height: 400px;
    width: 600px;
    object-fit: contain;
}

@media screen and ((max-width:900px)){
    .imgPrintCoche{
        height: 200px;
        width: 320px;
        object-fit: contain;
    }
    .InfoPrintCoche{
        width: 300px;
    }
   
}