.personalizarCoche{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.divLlantas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
    
}
.divColores{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
}
.divColors{
    height: 60px;
    width: 60px;
    margin: 1.5rem;
    cursor: pointer;
    border-radius: 50px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
.imgLlantas{
    height: 80px;
    width: 80px;
    margin: 1.5rem;
    cursor: pointer;
    border-radius: 50px;
    
}
.imgLlantas:hover, .divColors:hover{
    border: solid 2px black;
}
.motor{
    border: 1px solid black;
    cursor: pointer;
    margin: 1.5rem;
    padding: 1rem;
}
.divMotores{
    display: flex;
    justify-content: center;
    align-items: center;
}