.Login {
  min-height: 80vh;
  width: 100%;
  /* padding-top: 15vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-space,
.password-space {
  display: flex;
  flex-direction: column;
}

.input-login {
  height: 30px;
}

.input-login:focus {
  outline-color: #c61c14;
}

.anchorCustomSmall {
  font-size: small;
  text-decoration: none;
  color: black;
}

.anchorCustomSmall:hover {
  text-decoration: underline;
  color: #c61c14;
}

.listaLogin {
  list-style: disc;
}

.ventajas-registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem;
}

@media screen and (max-width: 1450px) {
  .Login {
    padding-top: 15vh;
  }
  .email-space {
    padding-bottom: 2rem;
  }
}
