/* .generalContainer{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #961a1a;
    padding: 15px 25px 30px;
    border-radius: 5px;
    gap: 1rem;
    width: 50vw;
    height: 50vh;
}

.email-space, .password-space{
    display: flex;
    flex-direction: column;
} */

