/* .generalContainer{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #961a1a;
    padding: 15px 25px 30px;
    border-radius: 5px;
    gap: 1rem;
    width: 50vw;
    height: 50vh;
}*/

.Login{
    background-color: #C61C14;
    height: 67vh;
    width: 100%;
}

.email-space, .password-space{
    display: flex;
    flex-direction: column;
} 

.input-login{
    height: 30px;
}

.input-login:focus{
   outline-color:  #C61C14;
}


.anchorCustomSmall{
    font-size: small;
    text-decoration: none;
    color: black
}

.anchorCustomSmall:hover{
    text-decoration: underline;
    color: #C61C14;
}

.listaLogin{
    list-style: disc;
}