.divCreateComentario{
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
}

.inputComentario{
    width: 600px;
    height: 50px;
    background-color: rgb(230, 227, 227);
}
.comentarioInfo{
    border-bottom: 1px solid grey;
}