.ChangePass {
  padding-top: 10vh;
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-change {
  height: 30px;
  width: 200px;
}

.input-change:focus {
  outline-color: #c61c14;
}

.form-register {
  padding: 1rem;
}

/* .password-space{
    gap: 1rem;
} */
