
.ChangePass {
    padding-top: 10vh;
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-change{
    height: 30px;
}

.input-change:focus{
    outline-color:  #C61C14;
}

.form-register{
    padding: 1rem;
}

