
.nav li{
    display: flex;
    height: 20rem;
}
.ImgPrincipalDash{
    width: 100vw;
    height: 70vh;
    object-fit: cover;
}
.ImgPrincipalDash{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.li-conocenos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.boxConocenos{
    background-color: #f2f2f2;
    width: 30vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    gap: 1rem;
}
.ConocenosImg{
    width: 20vw;
    object-fit: cover;
    display: flex;
    justify-content: center ;
}

.li-catalogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20rem;
}
.CatalogoImg{
    width: 50vw;
    height: 50vh;
    object-fit: cover;
}
.boxCatalogo{
    background-color: #f2f2f2;
    width: 30vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    gap: 1rem;
}
.li-comprayvende{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 40rem;
}
.comprayvendeImg{
    width: 50vw;
    height: 50vh;
}

.boxComprayvende{
    background-color: #f2f2f2;
    width: 30vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    gap: 1rem;
}
.li-taller{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20rem;
}
.tallerImg{
    width: 50vw;
    height: 50vh;
    object-fit: cover;
}
.boxTaller{
     background-color: #f2f2f2;
    width: 30vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    gap: 1rem;
}
/*.Conocenos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.boxConocenos{
    background-color: #f2f2f2;
    width: 30vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    border-radius: 5%;
    gap: 0.5rem;
}
 .Catalogo{
    background-color: #f2f2f2;
    width: 30vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    border-radius: 5%;
    gap: 0.5rem;
} 


.Comprayvende{
    background-color: #f2f2f2;
    width: 30vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    border-radius: 5%;
    gap: 0.5rem;
}


li{
    list-style: none;
}


.Taller{
    background-color: #f2f2f2;
    width: 30vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    border-radius: 5%;
    gap: 0.5rem;
}


} */
/* .div-info{
    display: flex;
    justify-content: space-around;
}
.ul-info{
    display: flex;
    list-style: none;
    margin: 1rem;
}
.ul-info li{
    margin: 2rem;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
} */
/* .imgiconos{
    height: 50px;
}

.nuestrosvalores{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 25rem;
} */