
.CreateCar {
    padding-bottom:20px;
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.archivo{
    width: 300px;
}

.placeholder-create{
    width: 100%;
   text-align: left;
}
.Compra-venta-crearCoche{
    padding-top:12vh;
}

