
.CreateCar {
    padding-top: 10vh;
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.archivo{
    width: 300px;
}

.placeholder-create{
    width: 100px;
   text-align: left;
}

