.divCarruselScroll{
    width: 85vw;
    height: 55vh;
    border:5px solid #c61c14;
    display:flex;
    overflow-x: scroll;
    align-items: center;
    text-align: center;
    scrollbar-color: #c61c14;
    scrollbar-base-color: #c61c14;
    scrollbar-width: 200px;
}
.divCarruselScroll::-webkit-scrollbar:horizontal{
    background: #fd0404;
}
.estadoVenta{
    background-color: red;
    padding:5px 10px;
}
.estadoEnVenta{
    background-color: rgb(2, 255, 2);
    padding:5px 10px;
}
.estadoEnTaller{
    background-color: rgb(255, 183, 0);
    padding: 5px 10px
}
.carruselScrollFigure{
    height: 350px;
    width: 400px;
    display: flex;
    margin:0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:10px;

}
.carruselScrollImage{
    width:320px;
    height:280px;
    object-fit: cover;

}