.Profile {
    padding-top: 10vh;
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.DivUpdatePerfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divBotonesPerfil{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.divUserCoches{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.divUserCoches button{
    height: 45px;
    width: 150px;
}
.divImgmasInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    padding-top: 15px;
    gap:8rem;
}
.imagePerfil{
    height: 320px;
    width: 320px;
    border-radius: 50%;
}
.divUserCoches{
    width: 100vw;
    height: 500px;
    background-color: #f2f2f2;
}
.divUserLikes{
    width: 100vw;
    height: 500px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.divUserComments{
    width: 100vw;
    height: 500px;
    background-color: #f2f2f2;
}
.infoPersonal{
    font-style: italic;
}
.divInfoUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap:35px;
    height: 100%;
}
.divInfoUser h2{
    font-size: 3rem;
    letter-spacing: 5px;
}
.imageDeleteUser{
    width: 50px;
    height: 50px;
}
.divCarruselUser{
    min-height: 50px;
    width: 70vw;
    gap:30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ulInfoUser{
    display: flex;
    justify-content: space-evenly;
    gap:2rem;
    height: 100%;
    width: 100%;
}
.ulInfoUser li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50px;
}
.divCarruselInfo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding:10px 0;
    width: 80vw;
}
.infoPersonal:hover{
    border-bottom:2px solid #C61C14
}

.ulInfoUser li:hover{
    background-color: #C61C14;
    color:whitesmoke;
}

@media screen and (max-width:600px){
    .divImgmasInfo{
        flex-direction: column;
        gap: 3rem;
        
} 
    .divCarruselUser{
        padding-top: 5vh;
    }

.divImgmasInfo{
    min-height: 60vh;
}
}
