.fondo{
    height: 40vh;
}
.infoCoche{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}
.infoCoche h2{
    margin: 2rem;
    font-size: 50px;
}
.infoCoche p{
    width: 70%;
    text-align: center;
    margin: 2rem;
}
.imagenReal{
    height: 400px;
}
@media screen and (max-width:1000px){
    .imagenReal{
        height: auto;
        width: 100vw;
    }
}