/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
.homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    padding: 15px 25px 30px;
    border-radius: 5px;
    gap: 1rem
}



.homeContainer{
  min-height: 80vh;
} */

.homeContainer{
  width: 100vw;
  min-height: 100vh;
  background-image: url("https://res.cloudinary.com/dx3e6knoz/image/upload/v1687252466/hpn-l-hondatyper-2560x1440-d70b_wvkrs1.jpg");
}