#map{
    height: 200px;
    width:200px;
    border:2px solid black;
}
.divTodosTalleres{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.divImgTaller{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divImgTaller img{
    width: 200px;
    height: 200px;
}
.divImgTaller h2{
    padding-bottom: 15px;
}
.divLocation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap:10px;
}
.sectionTaller{
    height: 400px;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    border: 2px solid black;
}
.divTallerInfo{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.sectionTaller div div{
    display:flex;
    flex-direction: column;
}
.divBotonTaller{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.botonTaller{
    height: 40px;
    width: 200px;
    color: white;
    background-color: #C61C14;
    border: none;
  cursor: pointer;
  border-radius: 20px;
  font-family: inherit;
  padding: 0.5rem 1rem;
  transition: 0.1s ease-in-out;
  &:focus {
    background-color: red;
}
}

@media screen and ((min-width:375px) and (max-width:900px)){
    .sectionTaller{
        flex-direction: column;
        height: 800px;  
    } 
    
}