#map{
    height: 200px;
    width:200px;
    border:2px solid black;
}
.divImgTaller{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divImgTaller img{
    width: 200px;
    height: 200px;
}
.divLocation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sectionTaller{
    height: 400px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    border-bottom: 2px solid black;

}

.sectionTaller div div{
    display:flex;
    flex-direction: column;
}
.divBotonTaller{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.botonTaller{
    height: 40px;
    width: 200px;
    color: white;
    background-color: #C61C14;
    border: none;
  cursor: pointer;
  border-radius: 20px;
  font-family: inherit;
  padding: 0.5rem 1rem;
  transition: 0.1s ease-in-out;
  &:focus {
    background-color: red;
}
}