.perfilCoches {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  min-height: 80vh;
}

.cochesPerfil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}
.cochesPerfil p {
  margin: 0.5rem;
}
