.flecha{
    height: 50px;
    margin: 1rem;
    cursor: pointer;
}
.fotoCarta{
    height: 300px;
}
.carta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
}
.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
}

