Header{
    height: 10vh;
    width: 100vw;
    position: fixed;
    background: #242424b5;
    top: 0;
    z-index: 300;
}

.logo{
    height: 85px;
}

.linkheader {
    text-decoration: none;
    color: white;
}

.linkheader:hover {
    cursor: pointer;
}

.underline {
    content: "";
    background-color: white; 
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.linkheader:hover .underline {
    width: 100%;
}
   

/* .material-symbols-outlined{
    color: #C61C14;
    
}

.material-symbols-outlined:hover{
    color: #C61C14;
    cursor: pointer;
} */

.iconos img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* .imgHeaderHome{
    height: 45px;
    background-color: #39E3EB;
    color:whitesmoke;
    filter:invert();
    border-radius: 100%;
    right:10px;
    z-index: 401;
    position: fixed;
}
.imgHeaderLogout{
    height: 45px;
    background-color: #39E3EB;
    color:whitesmoke;
    filter:invert();
    border-radius: 100%;
    right:70px;
    z-index: 401;
    position: fixed;
    
} */

.hamburger, .logout, .person{
    color: white;
    background: #C61C14;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

@media screen and (max-width: 1050px) {
    .linkheader {
      display: none;
    }
  }

@media screen and (min-width: 1050px) {
    .hamburger {
      display: none;
    }
  }
  
  @media screen and (max-width: 1050px) {
    .logo{
        height: 70px;
    }
  }