Header{
    max-height: 10vh;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.33);
    top: 0;
    z-index: 300;
}

.logo{
    height: 85px;
}

.linkheader {
    text-decoration: none;
    color: white;
}

.linkheader:hover {
    cursor: pointer;
}

.underline {
    content: "";
    background-color: white; 
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.linkheader:hover .underline {
    width: 100%;
}
   

.material-symbols-outlined{
    color: #C61C14;
}

.material-symbols-outlined:hover{
    color: #C61C14;
    cursor: pointer;
}