/* Footer{
    height: 60vh;
    width: 100%;
} */

.fotoLogo{
    height: 100px; 
}
/* .div-listaInteres{
    margin
} */
/* .listaInteres{
    list-style: none;
    color: white;
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
/* .iconos{
    margin-right: 2rem;
} */
.iconoRedSocial{
    height: 30px;
    filter: invert();
    margin: 1rem;
}