.CheckCode {
    padding-top: 10vh;
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.codigoregistro-space{
    display: flex;
    flex-direction: column;
}

.input-checkcode{
    height: 30px;
}

.input-checkcode:focus{
   outline-color:  #C61C14;
 
}

.aviso{
    color: #C61C14;
}