* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 80vh;
  overflow-x: hidden;
  /* background-color: #e3e3e3;
  background-image: url("https://www.transparenttextures.com/patterns/real-carbon-fibre.png"); */
  /* margin-top: 13vh;  */
}

.svg-input {
  place-self: center;
  color: #c61c14;
}

.input-custom {
  display: flex;
  border: 2px solid #c61c14;
  gap: 1rem;
  width: 70%;
  margin: auto;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 5px;
}

.input-custom:hover {
  -webkit-box-shadow: 3px 3px 10px 0px rgba(198, 28, 20, 1);
  -moz-box-shadow: 3px 3px 10px 0px rgba(198, 28, 20, 1);
  box-shadow: 3px 3px 10px 0px rgba(198, 28, 20, 1);
}

/* main{
  margin-top: 10vh;
} */

/**********File Inputs**********/

.container-input {
  text-align: center;
  border-radius: 6px;

  padding-top: 20px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.2rem 0.25rem;
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

.iborrainputfile {
  font-size: 16px;
  font-weight: normal;
  font-family: 'Lato';
}

/* style 2 */

.inputfile-2 + label {
  color: #c61c14;
  border: 2px solid currentColor;
  width: 200px;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
  color: #9f8465;
}
